

body {
     width: 100%;
  min-height: 100vh;
  position: relative;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: #ffc720;
  background: url("../img/hero-bg.jpg") top center no-repeat;
  background-size: cover;
  font-size: larger;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.login {

    width: 10cm;
    height: 15cm;
    background-color: #d5d4cf;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    border-radius: 12px;

}



.submit_btn {
    color: white;
  background-color: #0a58ca;
  border: 0;
  padding: 10px 30px;
  transition: 0.4s;
  border-radius: 50px;

}

.submit_btn:hover {

    color: white;
}

.login_btn {
    padding: 3px;

}

.signup_form {
    /* height: 10cm; */
    width: 10cm;
}